/* Place your CSS styles in this file */

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

}

body{
    background: #f5f6fa;
}

.wrapper .sidebar{
    background: rgb(5, 68, 104);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}


h1 {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}
p {
  text-align: justify;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
  -webkit-text-fill-color: rgb(32, 121, 128);
}

img {
  image-rendering: url("ProfileImage.jpg");
}

body {
  /* background-image: url("clouds.jpg");
  background-color: #33FFEC;
  background-repeat: no-repeat;
  background-size: cover;  */
  color: rgb(250, 17, 17);
  font-size: 160%;
  text-align: center;
}

.background {
  /* background-image: url(".jpg");  */
  background-color: #33FFEC;
  /* background-repeat: repeat; */

  /* background-size: cover; */
  opacity: 0.9;
}

.vl {
  border-left: 6px solid 0000ff80;
  height: 500px;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
